@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2>
                لیست محصولات
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> ایجاد محصول جدید
            </a>
        </div>
    </div>
    <br />

    <table id="tblData"  class="table table-striped table-bordered" style="width: 100%">      
        <thead>
            <tr>
                <th>نام محصول</th>
                <th>شابک</th>
                <th>نویسنده</th>
                <th>قیمت </th>
                <th>دسته بندی</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>  
}